/* style.css */

body {
    background-color: #ffffff !important;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.login-card-wrapper {
    background: white;
    padding: 45px;
    border-radius: 12px;
    box-shadow: 0 4px 25px rgba(0,0,0,0.08);
    border: 1px solid #e9e9e9ff;
    width: 100%;
    max-width: 400px;
    max-height: 90vh;
    text-align: center;
    position: relative;
    overflow: visible;
}

.login-language {
    position: absolute;
    bottom: 50px;
    left: 65px;
}
.login-language select {
    min-width: 150px;
    padding: 5px 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 14px;
}

.login-logo-img {
    height: 70px;
    margin-bottom: 15px;
    object-fit: contain;
}

.login-header h4 {
    font-weight: 700;
    color: #b71c1c;
    margin: 0;
    font-size: 22px;
}
.login-header p {
    font-weight: 600;
    color: #555;
    font-size: 16px;
    margin-bottom: 25px;
}

#page-footer,
.navbar,
.fixed-top {
    display: none !important;
}

#region-main {
    display: flex;
    justify-content: center;
    width: 100%;
}
.login-scale {
    transform: scale(0.82);   
    transform-origin: top center;
    width: 100%;
}
.loginform h2 {
    font-size: 18px !important;
    font-weight: 500;
    color: #000000;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 15px;
    text-transform: none;
}

.login-divider {
    border-top: 1px solid #dededeff;
    margin: 15px 0 15px 0;
    position: relative;
}

#guestlogin .btn-secondary {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    background-color: #e2e6ea;
    color: #333;
    border: 1px solid #ddd;
    font-weight: 600;
    font-size: 17px;
    transition: all 0.3s ease;
}

#guestlogin .btn-secondary:hover {
    background-color: #e2e6ea;
    border-color: #adb5bd;
    transform: translateY(-1px);
}

#login .btn-primary {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    font-weight: bold;
    margin-top: 10px;
}

.loginform .d-flex {
    display: none !important;
}
